<div class="">
  <div class="career p-5">
    <h3 class="text-2xl mt-4">経歴</h3>
    <table class="table-auto">
      <thead>
        <tr>
          <th class="border border-black px-4 py-2">期間</th>
          <th class="border border-black px-4 py-2">所属</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-black px-4 py-2">
            2016.04 - 2020.03
          </td>
          <td class="border border-black px-4 py-2">
            九州大学 工学部 物質科学工学科
          </td>
        </tr>
        <tr>
          <td class="border border-black px-4 py-2">
            2020.04 - 2022.03
          </td>
          <td class="border border-black px-4 py-2">
            九州大学 工学府 物質創造工学専攻
          </td>
        </tr>
        <tr>
          <td class="border border-black p-4 py-2">
            2020.04 - 現在
          </td>
          <td class="border border-black p-4 py-2">
            日本IBM株式会社 IBMCousulting事業部
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="career-details p-5">
    <div>
      <h3 class="text-2xl mt-4">職務経験</h3>
      <table class="table-auto">
        <thead>
          <tr>
            <th class="border border-black px-4 py-2">期間</th>
            <th class="border border-black px-4 py-2">詳細</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border border-black px-4 py-2">
              2022.04 - 2024.03
            </td>
            <td class="border border-black px-4 py-2">
              <p>【所属】</p>
              <p>日本IBM株式会社 IBM Cousulting</p>
              <br />
              <p>【職務】</p>
              <p>ITスペシャリスト
              </p>
              <br />
              <p>【業務内容】</p>
              <p>
                ▼ 担当業務 <br>
                保険業界向けお客様の認証機能の再構築プロジェクト。IDaaSと接続し新設する統合IDによる認証機能を構築するプロジェクトに参画しました。要件定義、基本設計、詳細設計、実装、単体テスト、結合テストに従事しました。
                <br />
                <br />
                ▼ 詳細<br>
                ・ 追加機能の設計・開発・実装・テストの経験<br>
                ・ 顧客との要件をすり合わせるため顧客折衝経験<br>
                <br />
                プロジェクトに参画当初は、チームメンバーとして、開発に参加していました。テスト以降は、4名のチームリーダーとして、プロジェクトに参画していました。
                追加機能の開発では、追加した機能が正しく動作できているかの、検証画面の作成を行いました。
                チームメンバーとして参画していた際、自らの進捗が他のメンバーよりも早かったため、他のメンバーが次のフェーズ入った際に、開発環境構築方法や、テスト実施方法等の情報のキャッチアップに時間がかかってしまうのが課題だった為、手順書の作成を行いました。手順書作成や、他のメンバーからの問い合わせ対応があった際は、積極的に対応しました。このようなことが評価され、テストフェーズ以降はチームリーダーを経験しました。
              </p>
              <br />
              <p>【業務で得たもの】</p>
              <p>
                1.
                ウォーターフロー開発で、設計~開発~テストの一連の流れを経験しました。
                また、開発ではJava17を使用し、独自フレームワークを用いて、画面開発、バックエンドでのデータ受け渡し、受け渡したデータを画面に表示させるといった検証機能の開発を行なった。
                ドキュメントを読み、フレームワークへのキャッチアップ等を行うことができます。
                <br>
                2.
                テストでは、Jenkinsを用いて、テストコードの作成を行い、自動化テストを実施しました。
                <br>
              </p>
            </td>
          </tr>
          <tr>
            <td class="border border-black px-4 py-2">
              2024.4 - 現在
            </td>
            <td class="border border-black px-4 py-2">
              <p>【所属】</p>
              <p>日本IBM株式会社 IBM Cousulting</p>
              <br />
              <p>【職務】</p>
              <p>ITスペシャリスト
              </p>
              <br />
              <p>【業務内容】</p>
              <p>
                ▼ 担当業務<br>
                保険業界のお客様の認証移行に伴う対応を行っています。前プロジェクトで、認証システムを再構築するプロジェクト（新認証化）に参画していました。新認証化に伴いこれまで使用していた認証システムから、保険会社の顧客に移行勧奨を行う必要があります。現在は、それを行うシステムを構築していくプロジェクトに参画しており、要件定義、基本設計に従事しています。
                <br >
                <br >
                ▼ 詳細<br>
                ・ 要件定義、設計書作成<br>
                ・ 顧客との要件をすり合わせるため顧客折衝経験<br>
                ・チームリーダとしてのミーティングの進行、メンバーへのタスク振り分け、課題ミーディングの随時開催<br>
                <br >
                前プロジェクトの経験からチームリーダーとしてプロジェクトに参画しています。プロジェクトが3つ同時並行して行われている中で、要件が不明な箇所がありました。
                また、プロジェクトはベンダー会社と共に進行していますが、ベンダー会社は新規参画だったため、これまでの成果物の品質から低下する懸念がありました。<br>
                 そこで、ベンダー会社には、要件が固まっている箇所から要件定義書等の作成を依頼し、成果物作成過程に慣れてもらいました。
                また、要件が不明確な箇所は、明確にする必要があった為、課題ミーティングを随時開催し、不明要件の洗い出し、調査の分担を行いました。
                こちらが調査した内容を基に、顧客に提案を行い、合意した内容を基に、設計書作成を行いました。
              </p>
              <br />
              <p>【業務で得たもの】</p>
              <p>
                1.
                ウォーターフロー開発での、要件定義、設計書作成の経験。
                <br >
                2.
                要件定義からの参画だったため、要件不明の箇所の洗い出し、調査を行いました。また、不明要件を顧客との折衝により、要件を明確にする経験。
                <br >
                3.
                チームリーダとしての参画しており、チームメンバーへの進捗確認、タスク振り分け、不明要件の確認、成果物のレビューを行った経験、
                <br >
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
